body {
  font-family: Arial, sans-serif;
  background-image: url(https://i.pinimg.com/originals/e1/26/d3/e126d318274739fbb93081612b4edbc3.jpg); 
  background-size: cover; 
  background-position: center auto; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  font-family: Arial, sans-serif;
  background-color:rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 24px;
}

#form {
  background-color:  rgb(110, 153, 203);
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
 
}

#navbar {
 
  color: #fff;
  padding: 10px 0;
}



.nav-link:hover {
  background-color: #ffcc00;
  color: #333;
}

#cartausuario {
  background-color:   rgb(110, 153, 203);
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px; 
}

